/**
 * @description: store common colors
 * @author: windya yasas
 */

$ft-black:#3b3e3f;
$bg-white:#fcfcfd;
$header-bg-white:#ffffff;
$gray:#888888;
$light-gray:#ecedee;
$light-blue:#e8f0fe;
$blue:#307cfb;
$box-shadow-gray:#dddddd;
$medium-gray:#f2f5f7;
$label-gray:#88909a;
$label-light-gray:#d1d4d8;
$light-red:#fdecf0;
$red:#e73763;
$black:#3b3e3f;